@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

#messageForm {
  margin: auto;
}

#messageForm > * {
  width: 100%;
  margin: 7px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1.7px solid rgb(94, 94, 94);
}

#submitBtn {
  background: none;
  border: none;
  background-color: rgb(27, 27, 27);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

#msgBox {
  resize: none;
  height: 250px;
}

@media only screen and (max-width: 1024px) {

  #messageForm > * {
    padding: 20px;
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 1024px) {

  #messageForm > * {
    padding: 20px;
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 540px) {

  #messageForm > * {
    padding: 10px;
    font-size: 1em;
  }

}

@media only screen and (max-width: 375px) {

  #messageForm > * {
    padding: 7px;
    font-size: 0.8em;
  }
  
  #msgBox {
    height: 175px;
  }

}